{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Flask Site Admin</a>
              <small class="text-muted">Last Updated 8/9/2020</small>
            </div>
            <h2><a class="article-title" href="#">Contact Us </a></h2>
            <p class="article-content">Here we have our Contact Page Where you may contact our team of
                elite representatives in the scientific flask community immediately: full content coming soon.</p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}
